main {
  margin: auto;
  text-align: center;
}

main button {
  margin-top: 20px;
  background-color: #2D8CFF;
  color: #ffffff;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  outline: none;
}

main button:hover {
  background-color: #2681F2;
}

.zmwebsdk-MuiSvgIcon-root {
  width: 1.8em !important;
  height: 1.8em !important;
}

.zmwebsdk-makeStyles-topbar-23 {
  display: none !important;
}